<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <title>MODIP Help</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", '../stylesheets/help', :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body data-target=".bs-docs-sidebar" data-spy="scroll">
<div class="container-fluid">
 <div class="row-fluid">
       <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <!-- Be sure to leave the brand out there if you want it shown -->
            <a class="brand" href="/">MODIP</a>
           <div class="nav-collapse collapse navbar-inverse-collapse">
                        <div class="span3">
                      <ul class="nav">
                              <li><%= link_to "Home", home_path %></li>
                                    <li><%= link_to "About", about_path %></li>
                                <li class="active"><%= link_to "Help", help_path %></li></li>
                                </ul>
                        </div>
             <div class="span3">
            <%= form_tag search_compound_path,  :class => "navbar-search pull-right" do %>
                <%= text_field_tag :cid, params[:cid] , :placeholder => "Find Compound by CID", :class => "search-query span12"%>
            <% end %>
             </div>
             <div class="span4">
               <div class="user-info">
                 <% if session[:user_id]%>
                     <p class="text-right" style="margin-top: 10px;">Welcome <strong> <%= User.find(session[:user_id]).name %> </strong>  <%= link_to 'Logout', logout_path, :method => :delete %></p>
                 <% else %>
                     <p class="text-right" style="margin-top: 10px;"> If you are register, please <%= link_to 'Login', login_path %> otherwise <%= link_to 'Register', new_user_path %> </p>
                 <% end %>
               </div>
             </div>
           </div>
          </div>
        </div>
      </div>
      </div>
      <div class="row-fluid">
	<div style="magin-bottom: 120px"><p>&nbsp;</p></div>
      </div>

  <div class="row-fluid">
  <!--Sidebar content-->
  <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav affix">
          <li class="active">
            <a href="#Start">
              <i class="icon-chevron-right"></i>
              <%= t('layouts.application.What_is_MODIP?') %>
            </a>
          </li>
          <li class="">
            <a href="#Basis">
              <i class="icon-chevron-right"></i>
              <%= t('layouts.application.Basis') %>
            </a>
          </li>
           <li class="">
            <a href="#Downloads">
              <i class="icon-chevron-right"></i>
              <%= t('layouts.application.Downloads') %>
            </a>
          </li>
          <li class="">
            <a href="#MolecularDocking">
              <i class="icon-chevron-right"></i>
              <%= t('layouts.application.Molecular_Docking') %>
            </a>
          </li>
          <li class="">
            <a href="#Ranking">
              <i class="icon-chevron-right"></i>
              <%= t('layouts.application.Ranking_List') %>
            </a>
          </li>
        </ul>
  </div>
  <div class="span9">
    <section id="Start">
      <div class="page-header">
        <h1>What is MODIP?</h1>
      </div>
        <p>MODIP is a platform of molecular docking in an integrated environment. These mean that MODIP integrates and facilitates using some of the tools enrolled in virtual screening. This platform downloads the compounds to a local database, allowing users to manage results through a friendly and intuitive interface. It can be configured data downloads related to a specific target and incorporate them into virtual screening results previously obtained, even with its homologous proteins. It also enables the ability to monitor the process through email notifications or snapshots.</p>
     

      
    </section>
    <section id="Basis">
      <div class="page-header">
        <h1>Basis</h1>
      </div>
        <p>The users have the option to create an account in the platform. Once the users complete the registration he can login in the system with the possibility of make queries and view the results of molecular docking corresponding to such queries.</p>

        <h3>Resources</h3>
        <p>The users can always accede to the resources related to the <em>assays</em>, <em>compounds</em> and <em>targets</em> storages in the system no matter what if the users is login or not. Once a compound is inserted into the system it can be quickly found by its CID using the search input located in the horizontal menu bar at top of every page (see the example below in figure 1 and 2).</p>
        <div class="row-fluid">
          <div class="fix">
          <img src="assets/modip10.png" class="img-polaroid" alt=""/>
          <div class="caption text-center">
            <p><strong>Fig 1.</strong> The assays listed in the system.</p>
          </div>
        </div>
        </div>

         <div class="row-fluid">
          <div class="fix">
          <img src="assets/modip11.png" class="img-polaroid" alt=""/>
          <div class="caption text-center">
            <p><strong>Fig 2.</strong> The compounds in the system.</p>
          </div>
        </div>
        </div>

        <h3>Adding assays and compounds</h3>
        <p>The system needs principally compounds to perform molecular docking. To accomplish that the system has a mechanism of downloads. This mechanism only needs the target to which the assays and compounds will be related and a query specifying the filter (these filter follow the syntactic rules of PUbChem-BioAssay see details here: <a href="https://pubchem.ncbi.nlm.nih.gov/help.html">https://pubchem.ncbi.nlm.nih.gov/help.html</a>)</p>

        <h3>Targets</h3>
        <p>The target play a main role in the process of molecular docking as well as the assays and compounds are in the download process. To create a target in the system the user only need a name for it. But the target in self has no a big meaning in the system until it is related with some receptors because this receptors are needed in the molecular docking. The following picture is an example of one bovine receptor for the cathepsin b target.</p>

        <div class="row-fluid">
          <div class="fix">
          <img src="assets/modip5.png" class="img-polaroid" alt=""/>
          <div class="caption text-center">
            <p><strong>Fig 3.</strong> In this form you can specify the parameters that the molecular docking will take in account such as: the pdbqt file, type of receptor, coordinate of the center grid, the size of the grid and so on.</p>
          </div>
        </div>
        </div>


    
    </section>
    <section id="Downloads">
      <div class="page-header">
        <h1>Downloads</h1>
      </div>
      <p>The download mechanism is which allow to the platform incorporate new assays and compounds into the system. When you create a download instance besides of the target and the query you can indicate if the download will be scheduled. This way the download will be executed every time that was indicated by the cycle selected, see an example below.</p>
      
      <div class="row-fluid">
          <div class="fix">
          <img src="assets/modip7.png" class="img-polaroid" alt=""/>
          <div class="caption text-center">
            <p><strong>Fig 4.</strong> This is an example of a download, the details of the query are for the target cathepsin b with the specific query: cathepsin B 27 active SAR taking into account all the assays (setting the input Outcome assay filter to eAssayOutcome_All) at any date.</p>
          </div>
        </div>
        </div>

    </section>
    <section id="MolecularDocking">
      <div class="page-header">
        <h1>Molecular Docking</h1>
      </div>
      <p>The establishment of an order of the compounds according to the results of molecular docking of them with the system targets is one of the fundamental goals of the platform. To accomplish that you need to provide to the system a target and a group of compounds all in 3D coordinates in order to make a molecular docking (see the Figure 5 bellow).</p>

      <div class="row-fluid">
          <div class="fix">
          <img src="assets/modip12.png" class="img-polaroid" alt=""/>
          <div class="caption text-center">
            <p><strong>Fig 5.</strong> This view is where you can choose which compounds include in a molecular docking process.</p>
          </div>
        </div>
        </div>

        <p>Once the you initiated the molecular docking the system automatically brings notifications of the subjacent process that is run (IMPORTANT: in this moment the system doesn’t storage any information about the subjacent process, so you need to leave the notification page open in order to not lose the information generated) as you can see in the Figure 6.</p>

        <div class="row-fluid">
          <div class="fix">
          <img src="assets/MODIP13.png" class="img-polaroid" alt=""/>
          <div class="caption text-center">
            <p><strong>Fig 6.</strong> Here the system show the molecular docking progress in details. You can see the target and the receptors with its configurations.</p>
          </div>
        </div>
        </div>

        <p>When the process has finished the system will notify to you with a resume of the order of the compounds taking account the three first receptors including in the target selected in the molecular docking, see the example bellow.</p>

    </section>
    <section id="Ranking">
      <div class="page-header">
        <h1>Ranking List</h1>
      </div>
      <p>The order of the compounds involves in a molecular docking depends of the three first receptors that the target selected had in his default order. In spite of, this assumption is only to show a first order to the user (see the Figure 7).</p>

      <div class="row-fluid">
          <div class="fix">
          <img src="assets/modip15.png" class="img-polaroid" alt=""/>
          <div class="caption text-center">
            <p><strong>Fig 7.</strong> The order list can be arrange by any of the three column corresponding to that selected for the main ranking. Also the ranking list view allow download the associate data to each compound in the molecular docking process, corresponding to each receptor. The red asterisks (<span style="color: rgb(255,0,0);">*</span>) remark the compounds selected as actives in one or differents assays.</p>
          </div>
        </div>
        </div>

    </section>
  </div>
  </div>
  <%= render :partial => 'layouts/footer' %>
</div>
</body>
</html>
