<%= form_for(@cycle) do |f| %>
  <% if @cycle.errors.any? %>
    <div class="alert alert-error">
      <h4><%= pluralize(@cycle.errors.count, "error") %> prohibited this cycle from being saved:</h4>
      <ul>
      <% @cycle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row-fluid">
    <div class="span4">
      <div class="control-group">
         <div class="control-label">
           <%= f.label "cycle name" %>
         </div>
         <div class="controls">
           <%= f.text_field :name%>
         </div>
      </div>
    </div>
    <div class="span8">
	  <div class="control-group">
         <div class="control-label">
           <%= f.label "loop frecuency (seconds)" %>
         </div>
         <div class="controls">
           <%= f.text_field :time%>
         </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
